<header>
    <div class="nav_area">
        <div class="logo">
            <a href="/">{{config.site.title}}</a>
            <div class="menu_mobile" onclick="toggleMenu()">
                <span class="menu_icon">&#9776;</span> <!-- Unicode hamburger icon -->
            </div>
        </div>

        <div class="nav_bar">
            <ul>
                {% for item in config.menu_item %}
                <li><a href="{{item.link}}">{{item.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>
<script>
    function toggleMenu() {
    var menu = document.querySelector('.nav_bar');
        menu.classList.toggle('show_nav_bar');
    }
</script>